<% content_for :pagename, "Maintenances" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Maintenances", admin_path %>
  <%= bc_link "edit" %>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Maintenances <span class="badge"></span></h3>
    <% link_to icon("plus-circle"), new_backend_maintenance_path, class:"btn" %>
    
  </div>
  
    
  <div class="panel-body">
    <div class="row container">
            <%=form_for [:backend,@maintenances] , :html => {class: 'form-horizontal col-xs-12 col-sm-4 col-sm-offset-4' } do |f| %>
                <div class="form-group">
                    <%= f.label :category, class: "" %>
                    <%= f.text_field :category, placeholder:"Name" ,class: "form-control transparent",rows: 3, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :bebox_id, class: "" %>
                    <%= f.text_field :bebox_id, placeholder:"Surname", class: "form-control ", rows: 3, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :note, class: "" %>
                    <%= f.text_field :note, placeholder:"Town", class: "form-control transparent", rows: 2, required: true %>
                </div>
                
                    <%= f.submit "Modifier", class: "col-xs-8 col-xs-offset-2 btn btn-danger" %>
            <% end %>
        </div>
  </div>
</div>



<script src="../../assets/javascripts/backend/Chart.js"></script>
