<% content_for :pagename, "Maintenances" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Maintenances" %>
<% end %>

<%= link_to ' liste des pieces', backend_parts_path ,class: "but btn btn-danger fa fa-list col-xs-offset-6 col-md-offset-8" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Maintenances <span class="badge"><%= @maintenances.count %></span></h3>
    <% link_to icon("plus-circle"), new_backend_maintenance_path, class:"btn" %>
    <%= link_to new_backend_maintenance_path do %>      
        <i class="fa fa-plus-circle fa-2x trash " aria-hidden="true"></i>
    <% end -%>
</div>
<div class="panel-body">
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
          <tr> 
            <th style="width:5%;">Nr.</th>        
            <th style="width:10%;">Categorie</th>
            <th style="width:10%;">Bebox</th>
            <th style="width:50%;">note</th>
            <th style="width:15%;">date</th>
            <th style="width:5%;">Prix</th>
            <th style="width:5%;">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <% @maintenances.each do |maintenance| %>
            <tr>
            <td><%=link_to maintenance.id, backend_maintenance_path(maintenance)  %></td>
              <td><%=  maintenance.category %></td>
              <td>
                  <%= link_to backend_bebox_path(maintenance.bebox) do %>  
                    <%= maintenance.bebox.reference if maintenance.bebox.present? %>
                  <% end %>
              </td>
              <td>
                  <% if maintenance.category  == 'telephone' %>
                    <%= maintenance.note %>
                  <% else %>
                    <%= 'changement: ' if maintenance.interventions.count > 0 %>
                    <% maintenance.interventions.each do |intervention| %>
                        <%= intervention.part.name %> |
                    <% end %>
                  <% end %>
              </td>
              <td><%= maintenance.created_at.strftime("%d / %m / %y a %H : %M") %></td>
              <td><%= maintenance.price %></td>
              <td>
                  <%= link_to  backend_maintenance_path(maintenance) , method: :delete , data: {confirm: "etes vous sure?"} do %>
                    <i class="fa fa-trash trash" aria-hidden="true"></i>
                  <% end -%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>