<% content_for :pagename, "Contacts" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Contacts" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contacts <span class="badge"><%= @contacts.count %></span></h3>end
    <% link_to icon("plus-circle"), new_backend_contact_path, class:"btn" %>
     <%= link_to new_backend_contact_path do %>
        
        <i class="fa fa-plus-circle fa-2x trash " aria-hidden="true"></i>
      <% end -%>
  </div>
  <div class="panel-body">
    
  </div>
  

<div class="panel-body">
    <div class="table-responsive">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>    
            <th colspan="1">Nom</th>
            <th colspan="1">Prenom</th>
            <th colspan="1">Societe</th>
            <th colspan="1">Email</th>
            <th colspan="1">Telephone</th>
            <th colspan="2">Message</th>
            
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contacts| %>
            <tr>
              <td><%= link_to contacts.name, backend_contact_path(contacts) %></td>
              <td><%= contacts.surname %></td>
              <td><%= contacts.company %></td>
              <td><%= contacts.email %></td>
              <td><%= contacts.Telephone %></td>
              <td class="text-center">
                  <% if contacts.message.present? %>
                    <%= link_to '', backend_contact_path(contacts), class: "fa fa-envelope" %>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>