<% content_for :pagename, "Contacts show" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Contacts", backend_contacts_path%>
  <%= bc_link @contacts.name %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profile <%= @contacts.name %><span class="badge"></span></h3>
      <%= link_to backend_contact_path(@contacts) , method: :delete , data: {confirm: "etes vous sure?"} do %>
        <i class="fa fa-trash fa-2x trash" aria-hidden="true"></i>
      <% end -%>
      
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>name:</dt>
      <dd><%= @contacts.name %></dd>
      <dt>surname:</dt>
     
      <dd><%= @contacts.surname %></dd>
      <dt>company:</dt>
      <dd><%= @contacts.company %></dd>
      <dt>email:</dt>
      <dd><%= @contacts.email %></dd>
      <dd><%= @contacts.Telephone %></dd>
      <dd><%= @contacts.message %></dd>
    </dl>
    <hr class="featurette-devider">
    
    
  </div>
</div>
