<% content_for :pagename, "Maintenances" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Maintenances" %>
<% end %>

<%= link_to ' liste des pieces', backend_parts_path ,class: "but btn btn-danger fa fa-list col-xs-offset-6 col-md-offset-8" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Maintenances <span class="badge"><%= @maintenances.count %></span></h3>
    <% link_to icon("plus-circle"), new_backend_maintenance_path, class:"btn" %>
    <%= link_to new_backend_maintenance_path do %>      
        <i class="fa fa-plus-circle fa-2x trash " aria-hidden="true"></i>
    <% end -%>
</div>
<div class="panel-body">
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
          <tr> 
            <th>Nr.</th>        
            <th>Categorie</th>
            <th>Bebox</th>
            <th>note</th>   
          </tr>
        </thead>
        <tbody>
          <% @maintenances.each do |maintenance| %>
            <tr>
            <td><%=link_to maintenance.id, backend_maintenance_path(maintenance)  %></td>
              <td><%=  maintenance.category %></td>
              <td><%= maintenance.bebox_id %></td>
              <td><%= maintenance.note %></td>      
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>