<% content_for :pagename, "Customer Show" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Customers", admin_path %>
  <%= bc_link @maintenances.bebox_id %>
  
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profile <span class="badge"></span></h3>
      <%= link_to  backend_maintenance_path(@maintenances) , method: :delete , data: {confirm: "etes vous sure?"} do %>
        <i class="fa fa-trash fa-2x trash" aria-hidden="true"></i>
      <% end -%>
      <%= link_to  edit_backend_maintenance_path(@maintenances) do %>
      <i class="fa fa-pencil fa-2x pancel" aria-hidden="true"></i>
      <%end%>
  </div>
  
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>category:</dt>
      <dd><%= @maintenances.category %></dd>
      <dt>bebox_id:</dt>
     
      <dd><%= @maintenances.bebox_id %></dd>
      <dt>note:</dt>
      <dd><%= @maintenances.note %></dd>
      
    </dl>
  </div>
</div>
