<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bebox <span class="badge"></span></h3>
    <% link_to icon("plus-circle"), new_backend_bebox_path, class:"btn" %>
  </div>
  <div class="panel-body">
    <div class="row container">
            <%= form_for(@bebox, :url => backend_beboxs_path, :html => { :class => "form-horizontal col-xs-12 col-sm-4 col-sm-offset-4"}) do |f| %>
            
                <div class="form-group">
                    <%= f.label :reference, class: "" %>
                    <%= f.text_field :reference, placeholder:"Reference" ,class: "form-control transparent",rows: 3, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :location, class: "" %>
                    <%= f.text_field :location, placeholder:"Location", class: "form-control ", rows: 3, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :category, class: "" %>
                    <%= f.select(:category, Bebox.categories.keys.to_a,{}, {:class => "form-control btn btn-default dropdown-toggle"})%>
                </div>
                <div class="form-group">
                    <%= f.label :customer_id, class: "" %>
                    <%= f.collection_select(:customer_id, Customer.all,:id, :name ,{}, {:class => "form-control btn btn-default dropdown-toggle"})%>
                </div>
                
                    <%= f.submit "Ajouter", class: "col-xs-8 col-xs-offset-2 btn btn-danger" %>
            <% end %>
        </div>
  </div>
</div>



