<% content_for :pagename, "Beboxes" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Beboxes" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Beboxes <span class="badge"><%= @bebox.count %></span></h3>
    <% link_to icon("plus-circle"), new_backend_bebox_path, class:"btn" %>
     <%= link_to new_backend_bebox_path do %>
        
        <i class="fa fa-plus-circle fa-2x trash " aria-hidden="true"></i>
      <% end -%>
  </div>
  <div class="panel-body">
    
  </div>

<div class="panel-body">
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
          <tr>    
            <th>Reference</th>
            <th>Location</th>
            <th>longitude</th>
            <th>altitude</th>
            <th>Categorie</th>
            <th>Client</th>
            
          </tr>
        </thead>
        <tbody>
          <% @bebox.each do |bebox| %>
            <tr>
              <td><%= link_to bebox.reference, backend_bebox_path(bebox) %></td>
              <td><%= bebox.location %></td>
              <td><%= bebox.longitude %></td>
              <td><%= bebox.laltitude %></td>
              <td><%= bebox.category %></td>
              <td><%= bebox.customer.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>