<% content_for :pagename, "Beboxes" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Beboxes" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Beboxes <span class="badge"><%= @bebox.count %></span></h3>
    <% link_to icon("plus-circle"), new_backend_bebox_path, class:"btn" %>
     <%= link_to new_backend_bebox_path do %>      
        <i class="fa fa-plus-circle fa-2x trash " aria-hidden="true"></i>
      <% end -%>
  </div>
  <div class="panel-body">
    
  </div>

<div class="panel-body">
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
          <tr>    
            <th style="width:15%;">Reference</th>
            <th style="width:25%;">Location</th>
            <th style="width:15%;">Categorie</th>
            <th style="width:15%;">Client</th>
            <th style="width:15%;">Prix</th>
            <th style="width:15%;">Date</th>
          </tr>
        </thead>
        <tbody>
          <% @bebox.each do |bebox| %>
            <tr>
              <td><%= link_to bebox.reference, backend_bebox_path(bebox) %></td>
              <td><%= bebox.location %></td>
              <td><%= bebox.category %></td>
              <td>
                  <%= link_to backend_customer_path(bebox.customer) do %>
                    <%= bebox.customer.name %>
                  <% end %>
              </td>
              <td><%= bebox.price %></td>
              <td><%= bebox.created_at.strftime("%d / %m / %y") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>