<% content_for :pagename, "Bebox show" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Beboxes", backend_beboxs_path%>
  <%= bc_link @bebox.reference %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profile <%= @bebox.reference %><span class="badge"></span></h3>
      <%= link_to backend_bebox_path(@bebox) , method: :delete , data: {confirm: "etes vous sure?"} do %>
        <i class="fa fa-trash fa-2x trash" style="margin:5px;" aria-hidden="true"></i>
      <% end -%>
      <%= link_to  edit_backend_bebox_path(@bebox) do %>
        <i class="fa fa-pencil fa-2x pancel" aria-hidden="true" style="margin:5px;"></i>
      <%end%>
      <button class="fa fa-calendar fa-2x calender" aria-hidden="true" style="margin:5px;border:none;background-color:transparent;"  data-toggle="modal" data-target="#myModal" ></button>
  </div>
  
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Reference:</dt>
      <dd><%= @bebox.reference %></dd>
      <dt>Location:</dt>
      <dd><%= @bebox.location %></dd>
       <dt>longitude:</dt>
      <dd><%= @bebox.longitude %></dd>
       <dt>Altitude:</dt>
      <dd><%= @bebox.laltitude %></dd>
      <dt>Categorie:</dt>
      <dd><%= @bebox.category %></dd>
      <dt>Client:</dt>
      <dd><%= @bebox.customer.name %></dd>
      <dt>Date de vente:</dt>
      <dd><%= @bebox.created_at.strftime("%d / %m / %y") %></dd>
    </dl>
    <hr class="featurette-devider">
    <div class="panel-heading">
        <h3 class="panel-title">Historique des maintenances</h3>
        <%= link_to 'Ajouter une maintenance', new_backend_maintenance_path(bebox_id: @bebox.id), class: "btn btn-danger" %>
    </div>
    <table class="table">
        <thead>
            <th>Nr.</th>
            <th>Categorie</th>
            <th>Date</th>
        </thead>
        <tbody>
            <% @bebox.maintenances.each do |maintenance| %>
                <tr>
                    <td><%= maintenance.id %></td>
                    <td><%= maintenance.category %></td>
                    <td><%= maintenance.created_at.strftime("%d / %m / %y") %></td>
                </tr>
            <% end -%>
        </tbody>

    </table>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" style="margin-top:80px;">
  <div class="modal-dialog" style="z-index:10000;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Changer la date de vente</h4>
      </div>
      <div class="modal-body">
         <%=form_for [:backend,@bebox] , :html => {class: 'form-horizontal', style: 'padding:25px;' } do |f| %>
                <div class="form-group">
                    <%= f.label :date, class: "" %>
                    <%= f.text_field :created_at ,class: "form-control transparent datepicker",rows: 3, required: true %>
                </div>
         
      </div>
      <div class="modal-footer">
          <%= f.submit "Modifier", class: "btn btn-default" %>
      </div>
        <% end %>
    </div>

  </div>
</div>

<style>
     *= require bootstrap-datepicker ;
</style>