<% content_for :pagename, "Maintenances" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "Maintenances", admin_path %>
  <%= bc_link "edit" %>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gestion Commerciale<span class="badge"></span></h3>
    <% link_to icon("plus-circle"), new_backend_visit_path, class:"btn" %>
    
  </div>
  
    
  <div class="panel-body">
    <div class="row container">
            <%=form_for [:backend,@visits] , :html => {class: 'form-horizontal col-xs-12 col-sm-4 col-sm-offset-4' } do |f| %>
                <div class="form-group">
                    <%= f.label :customer_name, class: "" %>
                    <%= f.text_field :customer_name, placeholder:"Nom et prenom du client" ,class: "form-control transparent",rows: 3, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :lieu, class: "" %>
                    <%= f.text_field :location, placeholder:"Exp: Restaurant jobi", class: "form-control transparent", rows: 2, required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :telephone, class: "" %>
                    <%= f.text_field :telephone, placeholder:"Exp: +216 54 123 400", class: "form-control ", rows: 3 %>
                </div>
                
                <div class="form-group">
                    <%= f.label :rapport, class: "" %>
                    <%= f.text_area :report, placeholder:"Rapport de la visite", class: "form-control transparent",rows: 5, required: true %>
                </div>
                
                    <%= f.submit "Modifier", class: "col-xs-8 col-xs-offset-2 btn btn-danger" %>
            <% end %>
        </div>
  </div>
</div>



<script src="../../assets/javascripts/backend/Chart.js"></script>