<% content_for :pagename, "Gestion Commerciale" %>
<% content_for :breadcrumb do %>
  <%= bc_link "Home", admin_path %>
  <%= bc_link "gestion commerciale" %>
<% end %>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Visites commerciales</a></li>
  <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
   <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Visites Commerciales <span class="badge"><%= @visits.count %></span></h3>
      <%= link_to icon("plus-circle"), new_backend_visit_path, class:"btn" %>
      </div>

      <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
              <thead>
                <tr>    
                  <th>Nom client</th>
                  <th>Lieu</th>
                  <th>Telephone</th>
                  <th>Rapport</th>
                </tr>
              </thead>
              <tbody>
                <% @visits.each do |visit| %>
                  <tr>
                    <td><%= link_to visit.customer_name, backend_visit_path(visit) %></td>
                    <td><%= visit.location %></td>
                    <td><%= visit.telephone %></td>
                    <td><%= visit.report %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>To be Programmed.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>To be programmed.</p>
  </div>
</div>

