<div id="map" style="width:100%;height:100vh" >
    
</div>
<div class="info-bebox text-center">
        <span id="nearest-bebox-description">Desole le service de localisation est actuellement indisponible<br>
        Veuillez attendre quelques secondes ou bien verifier vos parametres de geolocalisation</span><br>
        <span id="nearest-bebox"></span><br>
        </span>
    </div>
<style>
    .info-bebox{
        display: block;
        width:80%;
        left: 10%;
        position: absolute;
        top: 55px;
        min-height: 50px;
        background-color: white;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
        z-index: 1000;
        padding: 4px;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAioJiUs5vlpBSiWUsEIEgDP3NK_bUNP_s"></script>
<script type="text/javascript">
    

    // Standard google maps function
    function initialize() {
        var myLatlng = new google.maps.LatLng(35.839779, 10.622364);
        var myOptions = {
            zoom: 15,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map"), myOptions);
        TestMarker();
        
        var infowindow = new google.maps.InfoWindow({
            content: 'hi'
          });
     
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                myPosition = new google.maps.Circle({
                center:initialLocation,
                radius:50,
                strokeColor:"#FFFFFF",
                strokeOpacity:0.8,
                strokeWeight:4,
                fillColor:"#0000FF",
                fillOpacity:0.4
            });
            map.setCenter(initialLocation);
            myPosition.setMap(map);
            document.getElementById("nearest-bebox-description").innerHTML = "La Bebox la plus proche est au ";
            document.getElementById("nearest-bebox").innerHTML = findNearestBebox(position);
         }, {maximumAge:600000, timeout:5000, enableHighAccuracy: true});
        }
    }

 // Function for adding a marker to the page.
    function addMarker(location) {
        
    }
    
 
// Testing the addMarker function
    function TestMarker() {
        <% @beboxs = Bebox.all %>
        <% @beboxs.each do |bebox| %>
            var infowindow<%= bebox.id %> = new google.maps.InfoWindow({
                content: '<%= bebox.location %>'
              });
            location<%= bebox.id %> = new google.maps.LatLng(<%= bebox.laltitude %>,<%= bebox.longitude %>);
            marker<%= bebox.id %> = new google.maps.Marker({
            position: location<%= bebox.id %>,
            map: map,
            icon: "<%= image_path 'rsz_2logo.png' %>"     
        });
        
        marker<%= bebox.id %>.addListener('click', function() {
            infowindow<%= bebox.id %>.open(map, marker<%= bebox.id %>);
        });
        <% end %>
    }

    function findNearestBebox(position){
        var indicator = []
        var origin = []
        var bebox_locations = []
        var i = 0
        var j = 0
        <% @beboxs.each do |bebox| %>
           indicator[i] = position.coords.latitude - <%= bebox.laltitude %> + position.coords.longitude - <%= bebox.longitude %> ;
           origin[i] =  position.coords.latitude - <%= bebox.laltitude %> + position.coords.longitude - <%= bebox.longitude %> ;
           bebox_locations[i] = "<%= bebox.location %>" ;
           i = i + 1 ;
        <% end %>
        indicator.sort(function(a, b){return a-b}); 
        j = origin.indexOf(indicator[0]);
        console.log(indicator[0]);    
        console.log(bebox_locations[j]);
        return bebox_locations[j];
    }

    initialize();
    TestMarker();
</script>
